body {
  margin: 0;
  background-color: #fff;
  overscroll-behavior: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
}

/*sign up css*/
#long-logo {
  width: 300px;
  margin-bottom: 11px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-button {
  font-size: 20px;
  background-color: #df1f27;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 300px;
}

/*map css*/
#btn-location {
  position: absolute;
  right: 9px;
  bottom: 10px;
  z-index: 1;
  padding: 7px 9px;
  border-radius: 4px;
  background-color: #121212;
  color: #df1f27;
  font-size: 20px;
}

/*header bar css*/
.header-bar {
  background-color: #121212;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#long-logo-main {
  width: 200px;
  padding: 10px;
  grid-column-start: 2;
  justify-self: center;
}

#sign-out {
  align-self: center;
  justify-self: end;
  font-size: 12px;
  margin-right: 10px;
  border: #df1f27 solid 0.5px;
  color: #fff;
  padding: 2px 4px;
  background-color: #df1f27;
  border-radius: 5px;
}

/*navbar css*/
.Navbar {
  align-self: flex-end;
  background-color: #121212;
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.menu-list {
  display: block;
  overflow: hidden;
  padding: 10px;
}

.nav-icons {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #df1f27;
}

.active {
  color: #df1f27;
}

/*list page css*/
#list-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-bottom: #121212 solid;
  margin-bottom: 10px;
}

.list-item {
  display: block;
  overflow: hidden;
  padding: 10px;
}

.list-titles {
  font-weight: 900;
  color: #df1f27;
}
