body {
  margin: 0;
  background-color: #fee9a7;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#long-logo {
  width: 300px;
  margin-bottom: 11px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-button {
  font-size: 20px;
  background-color: #df1f27;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 300px;
}
