body {
  margin: 0;
  background-color: #fee9a7;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*sign up css*/
#long-logo {
  width: 300px;
  margin-bottom: 11px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-button {
  font-size: 20px;
  background-color: #df1f27;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 300px;
}

/*map css*/
#btn-location {
  position: absolute;
  right: 65px;
  bottom: 24px;
  z-index: 3;
  padding: 6px 7px;
  border: #df1e27 solid;
  border-radius: 4px;
  background-color: #fee9a7;
  transition: 0.5s;
  color: #df1e27;
  font-size: 20px;
}
